<div class="center hero-unit animated fadeIn">
  <h1>Welcome to Pre Wake</h1>

  <h2>
    A pre Wake app where friends can post what they will miss about you before you "kick the bucket".
  </h2>

  <%= link_to "Sign In", signin_path, class: "btn btn-large btn-primary" %>
  <%= link_to "Sign Up", signup_path, class: "btn btn-large btn-primary" %>
</div>
