@import 'bootstrap';


/*-- ANIMATIONS CSS START --*/
.animated.fadeIn{
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: .5s;
}
.img.animated.fadeIn{
  -webkit-animation-duration: .6s;
  -webkit-animation-delay: .2s;
}
.animated.fadeOut{
  -webkit-animation-duration: .5s;
  -webkit-animation-delay: 0s;
}

.animated.slideInDown{
  -webkit-animation-duration: .5s;
  -webkit-animation-delay: 0s;
  -webkit-overflow: hidden;
}
.animated.rotateInDownRight{
  -webkit-animation-duration: .5s;
  -webkit-animation-delay: 0s;
  -webkit-overflow: hidden;
}
.animated.rotateIn{
  -webkit-animation-duration: 1.0s;
  -webkit-animation-delay: 0s;
  -webkit-overflow: hidden;
}
.animated.fadeInDown{
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: .5s;
  -webkit-overflow: hidden;
}
.img.animated.fadeInDown{
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: .3s;
  -webkit-overflow: hidden;
}
.animated.fadeInUp{
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: .5s;
  -webkit-overflow: hidden;
}
.img.animated.fadeInUp{
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: 0s;
  -webkit-overflow: hidden;
}




/* mixins, variables, etc. */

@font-face {
  font-family: 'Lato-Light';
  src:font-url('Lato-Light.ttf');

}
@font-face {
  font-family: 'Lato-Hairline';
  src:font-url('Lato-Hairline.ttf');

}

$lightGray: #999;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* GLOBAL */

.row{
  margin-top: 30px;
}

html {
  overflow-y: scroll;
}


body {
  font-family: 'Lato-Light';
  padding-top: 60px;
  // background: linear-gradient(rgba(255,255,255,0.4) 100%,rgba(255,255,255,0.4) 100%,rgba(255,255,255,0.4) 100%), url('/assets/headstone.jpg') no-repeat;
  background-image: url('/assets/headstone.jpg') !important;
  background-size: 100% !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

.btn{
  background: #00A9E0;
  border: 0px solid transparent;
  border-radius: 5px;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
  color: white;
  background-color: #0192C0;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner {
  padding-left: 0;
  padding-right: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  padding: 15px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  margin-top: 30px;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $lightGray;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #313131;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: #008CBA;
    text-decoration: none;
  }
}

.hero-unit {
  padding: 40px;
  margin-bottom: 30px;
  margin-top: 20px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  color: inherit;
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 2px solid rgba(255, 255, 255, 0.8);
  a {
    color: #fff;
    &:hover{
      text-decoration: none;
      color: #00A9E0;
    }
  }
  small {
    float: middle !important;
    color: white;
    text-shadow: 0px 0px 10px black;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

.alert-danger, .alert-error {
  background: #F92773;
  border-color: transparent;
  border-radius: 0px;
  color: white;
  margin-top: 30px;
}

.alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.0);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.alert-success {
  background-color: #97CF2A;
  border-color: transparent;
  margin-top: 30px;
  color: #fff;
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}
